body {
  background-image: url("/assets/img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  /* background-image: url("/assets/img/Logo.png"); */
  border-radius: 50%;
  border: 0.5px solid blue;
  border: 0.8px solid white;
}

.blinking-logo {
  animation: blink 1.5s infinite;
  border-radius: 50%;
  position: relative;
  z-index: 1; 
}

.blinking-logo::before, 
.blinking-logo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%; 
  border: 3px solid transparent; 
  z-index: -1; 
  animation: border-blink 3s infinite;
}

.blinking-logo::before {
  border-color: white;
  box-shadow: 0 0 10px white;
}

.blinking-logo::after {
  border-color: blue; 
  box-shadow: 0 0 10px blue; 
}


@keyframes blink {
  0% { filter: brightness(100%); }     
  50% { filter: brightness(150%); }    
  100% { filter: brightness(100%); }   
}

@keyframes border-blink {
  0%, 100% { border-color: white; }   
  50% { border-color: blue; }         
}
.nav-link {
  color: #ffffff; 
  font-size: 16px;
  padding: 8px 15px;
  position: relative;
  text-transform: uppercase; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #00ccff; 
  transform: scale(1.05); 
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #00ccff; 
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1); 
}

.nav-link.active {
  color: #FFFFFF; 
  font-weight: bold;
}

.lead {
  color: rgb(0, 255, 51);
}

.news-banner {
  background-color: #4784ff;
  overflow: hidden;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 40px;
}

.news-ticker {
  display: flex;
  flex-direction: column; 
  animation: scroll-pause 30s infinite;
}

.news-item {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

@keyframes scroll-pause {
  0%, 10% { transform: translateY(-2px); }            
  15%, 25% { transform: translateY(-46px); }       
  30%, 40% { transform: translateY(-90px); }      
  45%, 55% { transform: translateY(-136px); }      
  60%, 70% { transform: translateY(-177px); }    
  75%, 85% { transform: translateY(-224px); }      
  90%, 100% { transform: translateY(-266px); }     
}


.featured-article, .article-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.featured-article img, .article-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.featured-article h2, .article-card h3 {
  color: #333;
}

.btn-secondary {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .featured-article {
      flex: 1 1 100%;
  }

  .article-card {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .article-card {
      flex: 1 1 100%;
  }
}